* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-attachment: fixed;
	background-image: url(../images/minsk.jpg);
	font-family: 'Roboto Condensed', sans-serif;
	background-size: 2000px;
}
header {
}
.logo-img {
	margin-top: 20px;
	width: 80px;
	border-radius: 40%;
}
.logo {
	position: absolute;
	top: 0px;
}
.link {
	padding-top: 10px;
	text-align: center;
}
nav a {
	margin-left: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: rgb(61, 60, 60);
}

.main-link {
	position: relative;
}
.main-link:hover {
	color: red;
}
.main-link:hover::before {
	transform: scaleX(1);
	transition: transform 0.25s;
	transform-origin: left;
}
.main-link::before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: red;
	position: absolute;
	bottom: -5px;
	transform: scaleX(0);
	transition: transform 0.25s;
	transform-origin: right;
}
.container {
	margin: auto;

	width: 1200px;
	background-color: rgba(249, 225, 140, 0.9);
}
.in-container {
	padding: 30px;
}

.ratting-h1 {
	font-size: 30px;
	margin-left: 100px;
	margin-top: 70px;
}
.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 24px;
	flex-wrap: wrap;
}

.card {
	position: relative;
	width: 325px;
	height: 350px;
	background: #000;
	border-radius: 18px;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.poster {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.poster::before {
	content: '';
	position: absolute;
	bottom: -45%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: 0.3s;
}

.card:hover .poster::before {
	bottom: 0;
}

.poster img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s;
}
.poster-1 img {
	width: ;
}

.card:hover .poster img {
	transform: scale(1.1);
}

.details {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: auto;
	padding: 1.5em 1.5em 2em;
	background: #000a;
	backdrop-filter: blur(16px) saturate(120%);
	transition: 0.3s;
	color: #fff;
	z-index: 2;
}

.card:hover .details {
	bottom: 0;
}

.details h1 {
	font-weight: 700;
}

.details h1 {
	font-size: 1.5em;
	margin-bottom: 5px;
}
.details p {
	font-size: 13px;
}

.ratting-button button {
	background-color: rgb(242, 160, 101);
	width: 300px;
	height: 90px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	position: relative;
}
.ratting-button {
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.ratting-button-hover:before {
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	left: 0;
	bottom: 0;
	border: 3px solid transparant;
	box-sizing: border-box;
}
.ratting-button-hover:hover:before {
	width: calc(240px / 2);
	height: 90px;
	border: 3px solid #111;
	border-right: none;
	border-bottom: none;
	transition: height 0.3s linear, width 0.3s linear 0.3s;
}
.ratting-button-hover:after {
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	top: 0;
	right: 0;
	border: 3px solid transparant;
	box-sizing: border-box;
}
.ratting-button-hover:hover:after {
	width: calc(240px / 2);
	height: 90px;
	border: 3px solid #111;
	border-left: none;
	border-top: none;
	transition: height 0.3s linear, width 0.3s linear 0.3s;
}

footer {
	background-color: rgba(249, 225, 140);
	margin-top: 70px;
	padding-top: 50px;
	padding-bottom: 40px;
}
.footer-links {
	margin: auto;
	width: 900px;
}
.footer-container {
	display: flex;
	justify-content: space-between;
}
.footer-logo img {
	width: 60px;
}
.footer-brend-about p {
	width: 120px;
	font-size: 15px;
}
.footer-contacts-h2 h2 {
	font-size: 20px;
}
.footer-email a {
	font-size: 15px;
	text-decoration: none;
}
.footer-email {
	margin-top: 10px;
}
.footer-contacts-btn {
	margin-top: 30px;
}
.footer-contacts-btn button {
	background-color: rgb(233, 174, 86);
	border: none;
	padding: 15px 25px;
	border-radius: 5px;
	font-size: 15px;
}
.footer-ratting-h2 h2 {
	font-size: 20px;
}
.footer-ratting-href a {
	color: black;
}
.footer-ratting-href {
	margin-top: 10px;
}
.footer-where-h2 h2 {
	font-size: 20px;
}
.footer-where-map {
	margin-top: 10px;
}
.hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 10px;
	width: 100%;
	height: 1px;
	background-color: #111;
}
.footer-last-2024 {
	margin-bottom: 20px;
}
